# NEXT_PUBLIC_API_BASE_URL="http://localhost:8000/api/v1"
NEXT_PUBLIC_API_BASE_URL="https://smart-content-manager.onrender.com/api/v1"
API_TIMEOUT=""
# Specifying this variable ensures that your encryption keys are persistent across builds, and all server instances use the same key
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY="The key must be a base64-encoded value whose decoded length matches a valid AES key size (16, 24, or 32 bytes).Next.js generates 32-byte keys by default. You can generate a compatible key using your platform’s cryptographic tools, for example: openssl rand -base64 32"